@import url('gold.css') layer(gold);


:root {
    font-size: 1.5rem;
}

body {
    font-family: monospace;
    background: bisque;
    &[cloak] {
        display: none;
    }
}

main {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    padding-top: 3rem;
}

button {
    padding: var(--s);
    border: 1px solid saddlebrown;
    &:hover {
        background: beige;
    }
}

#screen1 {
    display: grid;
    gap: .5rem;
    grid-auto-rows: max-content;
}

.galf {
    filter: invert(1);
}

input {
    min-width: 15rem;
}

#combobox {
    max-height: 10rem;
    width: 100%;
    padding-right: 2rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: saddlebrown bisque;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: bisque;
    }
    &::-webkit-scrollbar-thumb {
        background-color: saddlebrown;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: darken(saddlebrown, 10%);
    }
}

.choice:hover {
    background: cornsilk;
}